<!-- Content Wrap -->
<div class="content-wrap cndn-wrap">
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content button-block">
                    <a href="#!/business-pkg/lob/list" type="button" class="btn-back btn-img">
                        <img class="img-responsive my-tooltip" src="./public/theme/img/content/previous.svg" alt="Back" ng-shortcut="'meta+shift+left'" ng-shortcut-click data-title="ctrl+shift+left" />
                    </a>
                </div><!-- Page Header Content -->
                <div class="page-header-content title-block">
                    <h1 class="title"><b>{{$ctrl.action}} LOB</b></h1>
                    <p class="subtitle">
                        <a href="#!/business-pkg/lob/list">
                            LOB List
                        </a> /
                        {{$ctrl.action}}
                    </p>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Left -->
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <!-- Page Main Content -->
    <div class="page-main-content form-content type2">
        <form id="form" autocomplete="off">
            <input type="hidden" name="id" value="{{$ctrl.lob.id}}">
            <div class="page-tab-form pb-70">
                <div class="tab-form-wrap">
                    <div class="tab-form-header">
                        <div class="tab-header">
                            <!-- Filters -->
                            <div class="isotope-filters animated" data-animation="fadeInLeft" data-animation-delay="300">
                                <ul class="nav nav-pills cndn-tabs">
                                    <li class="active">
                                        <a class="filter active my-tooltip" data-target="#general-information" data-toggle="tab" aria-expanded="true" ng-shortcut="'meta+shift+up'" ng-shortcut-click data-title="ctrl+shift+up">
                                            General Information
                                        </a>
                                    </li>
                                    <li>
                                        <a data-target="#sbus" data-toggle="tab" aria-expanded="true" class="filter my-tooltip" ng-shortcut="'meta+shift+down'" ng-shortcut-click data-title="ctrl+shift+down">
                                            SBUs
                                        </a>
                                    </li>
                                </ul>
                            </div><!-- Filters -->
                        </div><!-- Tab Header -->
                    </div><!-- Tab Form Header -->
                    <div class="tab-form-body">
                        <div class="tab-content">
                            <!-- TAB PANEL -->
                            <div class="tab-pane fade in active" id="general-information" data-animation="fadeInUp" data-animation-delay="300">
                                <div class="tab-pane-wrap">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>
                                                    LOB Name
                                                    <sup class="mandatory">*</sup>
                                                </label>
                                                <input type="text" class="form-control required" ng-model="$ctrl.lob.name" name="name" placeholder="Enter Lob" />
                                            </div><!-- Feild -->
                                            <span id="lob_error"></span>
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>
                                                    Active Status
                                                    <sup class="mandatory">*</sup>
                                                </label>
                                                <div class="tab-switch">
                                                    <md-switch ng-model="$ctrl.switch_value" aria-label="Switch 1" ng-true-value="'Inactive'" ng-false-value="'Active'" class="md-warn">
                                                        {{ $ctrl.switch_value }}
                                                    </md-switch>
                                                    <input type="hidden" name="status" value="{{$ctrl.switch_value}}">
                                                </div>
                                            </div><!-- Form Group -->
                                        </div><!-- Column -->
                                        <div class="tab-pane-footer">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <a class="btn btn-primary btn-nxt my-tooltip" ng-shortcut="'meta+shift+down'" ng-shortcut-click data-title="ctrl+shift+down">
                                                        Next
                                                    </a>
                                                    <button type="submit" class="btn btn-primary submit my-tooltip" ng-shortcut="'meta+shift+s'" ng-shortcut-click data-title="ctrl+shift+s">
                                                        Submit
                                                    </button>
                                                </div>
                                            </div>
                                        </div><!-- Tab Footer -->
                                    </div><!-- Row -->
                                </div><!-- Tab Pane Wrap -->
                            </div><!-- Tabe Pane -->
                            <div class="tab-pane fade" id="sbus" data-animation="fadeInUp" data-animation-delay="300">
                                <div class="tab-pane-wrap">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h6 class="tab-pane-title">LOB : <span class="color-primary-light">{{$ctrl.lob.name}}</span></h6>
                                            <div class="table-responsive">
                                                <table class="table table-form">
                                                    <thead>
                                                        <tr>
                                                            <th class="width-230">SBU<sup class="mandatory">*</sup></th>
                                                            <th class="width-230">Active Status<sup class="mandatory">*</sup></th>
                                                            <th class="width-60"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="sbu_list" ng-repeat="(index, sbu) in $ctrl.lob.sbus">
                                                        <input type="hidden" name="sbus[{{index}}][id]" value="{{sbu.id}}">
                                                        <input type="hidden" name="sbus[{{index}}][lob_id]" value="{{$ctrl.lob.id}}">
                                                        <tr>
                                                            <td>
                                                                <input type="text" class="form-control type-sm coa_code_valid" name="sbus[{{index}}][name]" ng-model="sbu.name" placeholder="Enter SBU" autocomplete="off" minlength="3" maxlength="255" required="required"/>
                                                            </td>
                                                            <td>
                                                                <div class="tab-switch">
                                                                    <md-switch ng-model="sbu.switch_value" aria-label="Switch 1" ng-true-value="'Inactive'" ng-false-value="'Active'" class="md-warn">
                                                                        {{ sbu.switch_value }}
                                                                    </md-switch>
                                                                    <input type="hidden" name="sbus[{{index}}][status]" value="{{sbu.switch_value}}">
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <button class="btn-delete" ng-click="$ctrl.removeSbu(index, sbu.id)" type="button">
                                                                    <img class="img-responsive" src="./public/theme/img/table/cndn/delete.svg" alt="Delete" />
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <td colspan="6">
                                                                <button type="button" class="btn btn-primary-light btn-square" ng-click="$ctrl.addNewSbu()">+ Add SBU</button>
                                                            </td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div><!-- Table Responsive -->
                                        </div><!-- Column -->
                                        <div class="tab-pane-footer">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <a class="btn btn-secondary btn-prev my-tooltip" ng-shortcut="'meta+shift+up'" ng-shortcut-click data-title="ctrl+shift+up">
                                                        Previous
                                                    </a>
                                                    <button type="submit" class="btn btn-primary my-tooltip submit" ng-shortcut="'meta+shift+s'" ng-shortcut-click data-title="ctrl+shift+s">
                                                        Submit
                                                    </button>
                                                </div>
                                            </div>
                                        </div><!-- Tab Footer -->
                                        <input type="hidden" name="sbu_removal_ids" id="sbu_removal_ids" value="">
                                    </div><!-- Row -->
                                </div><!-- Tab Pane Wrap -->
                            </div><!-- Tabe Pane -->
                        </div><!-- Tab Content -->
                    </div><!-- Tab Form Body -->
                </div><!-- Tab Form Wrap -->
            </div><!-- Page Form -->
        </form>
    </div><!-- Page Main Content -->
</div><!-- Content Wrap -->